#contacts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  align-items: center;
}

.address,
.phone {
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  gap: var(--spacing-2);
}

.social-media {
  display: flex;
  gap: var(--spacing-3);
}

.social-media img {
  width: 2rem;
  height: 2rem;
}
