.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3);
}

.header-main > img {
  width: 8rem;
}

.header-main ul {
  display: flex;
  gap: var(--spacing-3);
}
