#maps {
  padding: var(--spacing-4) 0;
  text-align: center;
}

#maps h2 {
  font-size: 1.5rem;
  margin-bottom: var(--spacing-3);
}

.map-container {
  width: 80%;
  margin: 0 auto;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.map-container iframe {
  width: 80%;
  height: 20rem;
  border: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .map-container {
    width: 100%; /* Ajusta o contêiner para ocupar toda a largura */
  }

  .map-container iframe {
    width: 100%; /* Ajusta o iframe para ocupar toda a largura */
    height: 18rem; /* Ajusta a altura para dispositivos menores */
  }
}

@media (max-width: 480px) {
  #maps h2 {
    font-size: 1.25rem; /* Reduz o tamanho do título em telas pequenas */
  }

  .map-container iframe {
    height: 16rem; /* Reduz mais a altura do iframe para dispositivos muito pequenos */
  }
}
