.slideshow {
  position: relative;
  width: 100%;
  height: 86vh;
  overflow: hidden;
}

.card-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start; /* Alinha o conteúdo ao topo inicialmente */
  justify-content: center;
  transition: background-image 1s ease-in-out;
}

.card-content {
  background-color: rgba(255, 255, 255, 0.5);
  padding: var(--spacing-4); /* 24px */
  border-radius: var(--border-radius); /* 8px */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3); /* 16px */
  width: 40rem;
  text-align: center;
  margin-top: auto; /* Empurra para o final */
  transform: translateY(-20%); /* Move o conteúdo para aproximadamente 80% */
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box h2 {
  font-size: 1.5rem;
  margin: 0;
}

.text-box p {
  margin-top: var(--spacing-2); /* 8px */
  margin-bottom: var(--spacing-3); /* 16px */
}

.button-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-box .btn {
  display: inline-block;
  padding: var(--spacing-2) var(--spacing-3); /* 8px 16px */
  color: rgba(39, 24, 93, 0.685);
  text-decoration: none;
  border-radius: var(--border-radius); /* 8px */
  transition: background-color 0.3s;
  border: 1px solid #00408057;
}

.button-box .btn:hover {
  background-color: #004080a3;
}
