.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  padding-inline: 1rem;
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.pady-1 {
  padding-block: 1rem;
}
