.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  padding-inline: var(--spacing-3);
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: var(--spacing-3);
}

.pady-1 {
  padding-block: var(--spacing-3);
}
