/* Header */
.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3);
  background-color: var(--color-background);
  color: var(--color-primary);
}

.header-main > img {
  width: 8rem;
}

.header-main ul {
  display: flex;
  gap: var(--spacing-3);
}

.header-main ul a {
  color: var(--color-primary);
}

.header-main ul a:hover {
  color: var(--color-secondary);
}

/* Footer */
footer {
  margin-top: var(--spacing-3);
  text-align: center;
  padding: var(--spacing-2);
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

/* Utilitários */
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  padding-inline: var(--spacing-3);
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: var(--spacing-3);
}

.pady-1 {
  padding-block: var(--spacing-3);
}

.criacao {
  margin-block: 4rem;
  text-align: center;
  color: var(--color-primary);

  & p {
    margin-top: 2rem;
    color: red;
    font-weight: 600;
  }
}

@media (min-width: 480px) {
  #contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 1rem;
    margin-inline: 5rem;

    & > div {
      width: 100%;
    }

    & .address {
      justify-items: start;
      text-align: left;
    }
    & .social-media {
      justify-content: center;
    }

    & .phone {
      justify-items: end;
      text-align: right;
    }
  }
}
