/* Configurações globais e variáveis */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, Arial, sans-serif;
}

:root {
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 1rem; /* 16px */
  --spacing-4: 1.5rem; /* 24px */
  --spacing-5: 2rem; /* 32px */
  --border-radius: 0.5rem; /* 8px */
}

/* Estilos básicos para links */
a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.05);
}

/* Configuração para layout sticky footer */
html,
body {
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* O conteúdo principal ocupa o espaço disponível */
}

/* Estilo do Footer */
footer {
  margin-top: var(--spacing-3);
  text-align: center;
  padding: var(--spacing-2);
  background-color: #00234f;
  color: #ffffff;
}
